{# templates/premium/entite/nouvelle.html.twig #}
{% extends 'base_admin.html.twig' %}

{% block title %}Ajouter d'un nouveau club de plongée{% endblock %}


{% block stylesheets %}

    <style>
        :root {
            --theme-color-principal: {{ themeColorPrimaire|default(entite.couleurPrincipal|default('#233342')) }};
            --theme-color-secondaire: {{ themeColorSecondaire|default(entite.couleurSecondaire|default('#ffc107')) }};
            --theme-color-tertiaire: {{ themeColorTertiaire|default(entite.couleurTertiaire|default('#F0F0F0')) }};
            --theme-color-quaternaire: {{ couleurQuaternaire|default(entite.couleurQuaternaire|default('#000000')) }};
        }
    </style>
    <link rel="stylesheet" href="{{ asset('dist/css/style.css')}}">
{% endblock %}


{% block javascripts %}
{% endblock %}


{% block body %}
<div class="container d-flex flex-column justify-content-center align-items-center text-center" style="min-height: calc(100vh - 56px);">

    <h1 class="display-4 fw-bold mb-3">Ajouter votre Club</h1>
    <p class="lead mb-3">Créez votre club pour commencer !</p>
    <a href="{{ path('app_premium_entite_adherent_ajouter',{'entite' : entite.id}) }}" class="btn btn-primary btn-lg">
        <i class="bi bi-plus-circle me-2"></i>Créer un nouveau Club
    </a>
</div>

{% endblock %}
















