{# templates/header_public.html.twig #}
{% set brand = public_branding() %}

<nav class="navbar fixed-top navbar-expand-lg navbar-dark" style="background-color:#0f1b28; z-index:1100;">
  <div class="container">
    <a class="navbar-brand p-0 m-0"
       href="{% if brand.homeUrl %}{{ brand.homeUrl }}{% else %}{{ path('app_public') }}{% endif %}">
      <img
        class="mb-1"
        src="{{ asset(brand.logo) }}"
        alt="Logo {{ brand.name }}"
        style="max-height:44px; width:auto;"
      >
    </a>

    <button class="navbar-toggler" type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNavPublic"
            aria-controls="navbarNavPublic"
            aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavPublic">
      <ul class="navbar-nav ms-auto">

        <li class="nav-item">
          {% if brand.homeUrl %}
            <a class="nav-link" href="{{ brand.homeUrl }}">Accueil</a>
          {% else %}
            <a class="nav-link" href="{{ path('app_public') }}">{{ 'menu.home'|trans }}</a>
          {% endif %}
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{{ path('app_public_formation') }}">{{ 'menu.training'|trans }}</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{{ path('app_public_catalogue') }}">{{ 'menu.catalog'|trans }}</a>
        </li>

        {% if not brand.hasCustomHost %}
          <li class="nav-item">
            <a class="nav-link" href="{{ path('app_public_pricing') }}">{{ 'menu.price'|trans }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ path('app_public_contact') }}">{{ 'menu.contact'|trans }}</a>
          </li>
        {% endif %}

        <li class="nav-item dropdown">
          {% include '_locale_switcher.html.twig' %}
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{{ path('app_login') }}">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-box-arrow-in-right" viewBox="0 0 16 16" aria-hidden="true">
              <path fill-rule="evenodd" d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a1.5 1.5 0 0 1-1.5-1.5v-2a.5.5 0 0 0-1 0v2A2.5 2.5 0 0 0 6.5 15h8A2.5 2.5 0 0 0 17 12.5v-9A2.5 2.5 0 0 0 14.5 1h-8A2.5 2.5 0 0 0 4 3.5v2a.5.5 0 0 0 1 0z"/>
              <path fill-rule="evenodd" d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z"/>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>