{% extends 'base.html.twig' %}

{% block title %}Erreur {{ status_code }}{% endblock %}



{% block stylesheets %}
     <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->
    <style>
        .fullscreen-container {
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
        }

        body 
        {
            background-color: white !important;
            color: black !important;
        }
    </style>
{% endblock %}


{% block body %}

    <div class="container fullscreen-container">
        <div>
            <h1 class="display-1 fw-bold">Erreur {{ status_code }}</h1>
            <p>{{ status_text }}</p>
            <p class="lead"><a href="{{ path('app_login') }}">Retour à l'accueil</a></p>
            <p><small>Veuillez contacter le concepteur du site ou revenir en arrière</small></p>
            <p><small><a href="mailto:contact@wikiformation.fr">Wiki Formation</a></small></p>
            <p><small>Version: 1.0.0 - mise en ligne le 15/03/2026</small></p>
            <a href="{{ path('app_public')}}" class="btn btn-lg btn-warning mt-3">Accueil</a>
        </div>
    </div>
{% endblock %}

